@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

:root {
  --white: #fff;
  --dark-gray: #333333;
  --black: #0e0e10;
  --white-text: #ffffff;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--black);
}
main {
  display: flex;
  max-width: auto;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-sm {
  margin-top: 32px;
  margin-bottom: 0;
}
.cover-img img {
  width: 840px;
  height: 840px;
  flex-shrink: 0;
}
.titles {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  position: absolute;
}

.hero-title {
  color: var(--white-text);
  font-family: "Titillium Web", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: -0.96px;
  margin-bottom: 0;
}

.hero-desc {
  color: var(--white-text);
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-top: 0;
}
