@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

:root {
  --white: #fff;
  --dark-gray: #333333;
  --black: #0e0e10;
  --white-text: #000000;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  max-width: auto;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  background: var(--black);
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.cover-img {
  background: url(./images/xel_dot_logo_v1.svg);
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
  border: 2px solid red;
}

.titles {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.hero-title {
  color: var(--dark-gray);
  font-family: "Titillium Web", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: -0.96px;
  margin-bottom: 0;
}

.hero-desc {
  color: var(--dark-gray);
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-top: 0;
}
